.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 32px;
    row-gap: 32px;
}


 // Mobile
 @media all and (max-width: 460px) {
    .cards{
        grid-template-columns: 1fr;
        row-gap: 32px;
    }
  }
 @media all and (max-width: 560px) and (min-width: 340px) {
 
  }
  
  // Tablet
  @media all and (max-width: 770px) and (min-width: 561px) {
   
  }
  
  // Desktop
  @media all and  (min-width: 771px) {

  }