.contact-us{
    margin-top:0px;
    position: relative;
    @include screen(desktop){max-width: 900px;}
    .contact-us_title{
        margin: 40px auto 0px auto ;
        @include font-size(xxxl);
        text-transform:capitalize;
        &::after{
            content: '.';
            color: $brand-prime;
        }
    }
    .contact-us_subtitle{
        @include font-size(xxxl);
        font-weight: bold;
        color: $page-background;
        -webkit-text-stroke-color: $brand-third;
        -webkit-text-stroke-width: 1px; 
        @include screen(tablet){-webkit-text-stroke-width: 3px; }
    }
    .contact-us_message{
        line-height: 30px;
        margin:  100px auto 100px auto;
        p{
            @include font-size(s);
            font-weight: bold;
            margin:  5px auto 5px auto;

            &:first-child{
                margin:  10px auto 40px auto;
            }
        }

        .message-item{
            display: block ;
            span{@include font-size(s);}
            .message-item_title_1 { display: block;}
            .message-item_input_1 { display: block;}
            .message-item_title_2 { display: block;}
            .message-item_input_2 { display: block;}
            .message-item_title_3 { display: block;}
            .message-item_input_3 { display: block;}
            .message-item_title_4 { display: block;}
            .message-item_input_4 { display: block;}
            .message-item_title_5 { display: block;}
            .message-item_input_5 { display: block;}
            @include screen(tablet){
             display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 4px;
            font-weight: bold; 

            .message-item_title_1 { flex: 1 1 ; padding-bottom: 8px;}
            .message-item_input_1 { flex: 3 2 ; }
            .message-item_title_2 { flex: 1 1 ; padding-bottom: 8px;}
            .message-item_input_2 { flex: 3 2 ; }
            .message-item_title_3 { flex: 2 1 ; padding-bottom: 8px;}
            .message-item_input_3 { flex: 3 2 ; }
            .message-item_title_4 { flex: 2 1 ; padding-bottom: 8px;}
            .message-item_input_4 { flex: 3 2 ; }
            .message-item_title_5 { flex: 3 1 ; padding-bottom: 8px;}
            .message-item_input_5 { flex: 3 2 ; }
            }
            @include screen(desktop){
                .message-item_title_5 { display: inline-block; margin-right: 10px; }
                .message-item_input_5 { display: inline-block; max-width: 500px; }
            }
        }

    }
}


.city-name{
    display: none;
    @include screen(tablet){
      position: absolute;
    right: -433px;
    top: 445px;
    font-size: 121px;
    font-weight: bold;
    color: $white;
    opacity: 0.02;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;  
    }
}


.contact-us_icon-success{
  display: block;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  color: $text-light;
  border: solid 10px $card;
  text-align: center;
  margin-top: 80px;
  @include screen(tablet){
   margin: 0 30px 30px 0;   
  }
  @include screen(desktop){margin-top: 250px;}
  .aicon-direct{
    @include font-size(xxxl);
    line-height: 90px;
  }
}
.contact-us_success {
    @include font-size(xxxl);
    
  color: $text-light;
  &::after{
    content: '.';
    color: $brand-prime;
}
}


 

