.more-blogs{
    margin: 130px 0;
     h2{
         font-size: map-get($font-sizes , 'xxxl');
         text-transform:capitalize;
         &::after{
             content: '.';
             color: $brand-prime;
         }
     }
     p{
         font-size: map-get($font-sizes , 'xxs');
         color: rgba($brand-third, 0.5);
         margin: -3px 0 40px 0;
     }
 }
 
 .sections-cards{
     display: grid;
    //  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     column-gap: 32px;
     row-gap: 32px;
 }

// Mobile
@media all and (max-width: 560px) and (min-width: 340px) {
    .more-blogs{
        // h2{
        //     font-size: map-get($font-sizes-mobile , 'xxxl');
        //     margin-left: 20px;
        // }
        // p{
        //     font-size: map-get($font-sizes-mobile , 'xs');
        //     line-height: map-get($font-line-heights-mobile , 'l');
        //     margin-left: 20px;
        // }
       }
       .sections-cards{ 
            display: flex;
            flex-flow: row nowrap;
            padding: 10px 20px;
            overflow-y: hidden;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;
            column-gap: 25px;
        }
}

// Tablet
@media all and (max-width: 770px) and (min-width: 561px) {
 
}

// Desktop
@media all and  (min-width: 771px) {
    .sections-cards{
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
}