.more-blogs{
    @include section-margin();
     h2{
         @include font-size(xxxl);
         text-transform:capitalize;
         &::after{
             content: '.';
             color: $brand-prime;
         }
     }
     p{
         @include font-size(xxs);
         color: rgba($brand-third, 0.5);
         margin: -3px 0 40px 0;
     }
 }
 
 .sections-cards{
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 20px;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    column-gap: 25px;
     @include screen(tablet){
     padding: 0;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     column-gap: 32px;
     row-gap: 32px;
     }
     @include screen(desktop){
     grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
     }
 }