.article-motivator{
    @include reset-select();
    // padding: 20px;
    position: relative;
    border-radius: $border-radius-xl;
    display: flex;
    flex-flow: column nowrap;
    align-content: space-between;
    // background: $brand-red;
    @include add-shadow-xl();
    
    .article_social-media{
     direction: rtl;
        a{
            display: inline-block;
            border-radius: $rounded-pill;
            background: $dark-tag;
            padding: 0px 15px;
            margin: 0 0 20px 7px;   
            text-align: center;
            
            &:hover{
                background: $brand-red;  
            }
           i{
            color: $dark-grey;
            
           }
           .aicon-youtube{
            font-size: 19px; 
            line-height: 29px;
           }
           .aicon-spotify{
            font-size: 17px; 
            line-height: 31px;
           }
        }
    }

    .article_tags{ 
        .tag{
            display: inline-block;
            border-radius: $rounded-pill;
            background: $dark-tag;
            padding: 3px 10px;
            margin-right: 7px;   
            text-align: center;
            line-height: 26px;
            color: $dark-grey;
            font-size: map-get($font-sizes, 's' );

            &::before{
                content: "#";
                margin: auto 0 0 3px ;
            }
        }
    }

    .article_title{
        display: block;
        color: $white;
        font-size: map-get($font-sizes, 'l' );
        font-weight: bold;
        margin-bottom: 10px;
        height: 90px;
    }

    .article_footer{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    
        .article_footer_item{
            font-size: map-get($font-sizes, 's' );
            color: $dark-grey;
            padding: 5px;
        }
    }

  
    .article_image{
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        
        .article_gradient-dark{
            position: absolute;
            bottom: 0;
            z-index: 1;
            display: block;
            height: 85%;
            width: 100%;
            border-radius: $border-radius-xl;
            background: $brand-black;
            background: $gradient-dark;
        }
         
        img {
            border-radius: $border-radius-xl;
            object-fit: cover;
            
            width: 100%;
            height: 100%;
        }

    }
  

}    
          
