.article-motivator{
    @include reset-select();
    position: relative;
    border-radius: $border-radius-xl;
    display: inline-block;
     @include add-shadow-xl();
     transition: all ease-in-out 0.2s;

     &:hover{
       transform: translateY(-10px);
       @include add-shadow-service();
     }
    
    .article_motivator-content{
     display: flex;
     flex-flow: column nowrap;
     align-content: space-between;
     padding: 25px 25px 20px 25px;
    }

    .article_social-media{
     direction: rtl;

        a{
            display: inline-block;
            border-radius: $rounded-pill;
            background: $dark-tag;
            padding: 0px 15px;
            margin: 0 0 20px 7px;   
            text-align: center;
           i{
            color: $dark-grey;
            
           }
           .aicon-youtube{
            font-size: 19px; 
            line-height: 29px;
           }
           .aicon-spotify{
            font-size: 17px; 
            line-height: 31px;
           }
        }

        .a-spotify:hover{
            background: #1DB954;
        }
        .a-youtube:hover {
            background: $brand-red;
         }
    }

    .article_footer{
     margin-top: 49%;
    }

    .article_tags{ 
      
        .tag{
            display: inline-block;
            border-radius: $rounded-pill;
            background: $dark-tag;
            padding: 3px 10px;
            margin-right: 7px;   
            text-align: center;
            line-height: 26px;
            color: $dark-grey;
            font-size: map-get($font-sizes, 's' );
            max-width: 130px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &::before{
                content: "#";
                margin: auto 0 0 3px ;
            }
        }
    }

    .article_title{
        display: block;
        color: $white;
        font-size: map-get($font-sizes, 'l' );
        font-weight: bold;
        margin-bottom: 25px;
        height: 90px;
        transition: text-decoration 0.4s ease-in-out;
          &:hover {
            text-decoration: underline;
            text-decoration-color: $brand-red;
          }
    }

    .article_info{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        margin-bottom: 0;
        a:hover{
            color: $blue;
        }
        .article_info_item{
            font-size: map-get($font-sizes, 's' );
            color: $dark-grey;
            padding: 5px;
        }
    }

  
    .article_image{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        
        .article_gradient-dark{
            position: absolute;
            bottom: 0;
            z-index: 1;
            display: block;
            height: 85%;
            width: 100%;
            border-radius: $border-radius-xl;
            background: $gradient-dark;
        }
         
        img {
            border-radius: $border-radius-xl;
            object-fit: cover;
            
            width: 100%;
            height: 100%;
        }

    }
}    
   


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
    .article-motivator{
        flex-shrink: 0;
        max-height: 440px;
        max-width: 300px;
        margin: auto 10px;
        &:first-child{
            margin: auto 10px auto 25px;
        }
        &:last-child{
            position: relative;
           &::before{
               content: ' ';
               position: absolute;
               right:-25px;
               width: 25px;
               height: 100%;
           }
        }

        .article_motivator-content{
            padding: 20px;
           }
           .article_title{
            margin: 10px auto 40px auto;
        }

        .article_tags{ 
            .tag{
                max-width: 100px;
            }
        }
    } 
  }
  
  // Tablet
  @media all and (max-width: 1200px) and (min-width: 701px) {
  
  }
  
  // Desktop
  @media all and (max-width: 1366px) and (min-width: 1201px) {
  
  }
  
  // X Desktop
  @media all and  (min-width: 1367px) {
  
  }
  
