.sections-tag{
    display: inline-block;
    background-color: $brand-dark-grey;
    color: $white;
    font-size: map-get( $font-sizes, 's' );
    border-radius: $border-radius-xl;
    padding: 8px 5px;
    margin: auto 0px auto 20px;
    @include add-shadow-xl();
    

    &:first-child{
        margin: 0;
    }

    .sections-tag_title{
            display: inline-block;
            margin: auto 15px auto 15px;
        }

     .sections-tag_number{
            display: inline-block;
            min-width: 25px ;
            min-height: 25px ;
            background: $brand-black;
            border-radius: $border-radius-circal; 
            text-align: center;
            margin-left: 10px;
            padding: 3px 6px;
        }
    
}