.page-not-found{
    margin: $page-not-found;

    h1{ 
        margin:20px auto 10px auto;
        font-size: map-get($font-sizes , 'xxxl');
        text-transform:capitalize;
        &::after{
            content: '.';
            color: $brand-prime;
        }
     }
}