.page-not-found{
    margin: $page-not-found;

    h1{ 
        margin:20px auto 10px auto;
        @include font-size(xxxl);
        text-transform:capitalize;
        &::after{
            content: '.';
            color: $brand-prime;
        }
     }
}