.site-info{
   position: relative;
   width: 270px;
   text-align: center;
   direction: rtl;
 
   .logo{
      display: block;
      height: 57px;
      width: 150px;
      margin:0 0 20px auto;
      position: relative;
        img{
               height: 57px;
               width: 153px;
               object-fit: cover;
               margin: auto;
            }
          }

          p{
           display: block;
           font-size: map-get($font-sizes , 'xs' );
           line-height: 22px;
           text-align: justify;
           text-justify: inter-word;
          }
      
   
}





