.contact-us{
    position: relative;
    
    .contact-us_title{
        margin: 20px auto 40px auto ;

        .contact-us_subtitle{
            color: $brand-black;
            -webkit-text-stroke: 1px $white;
        }
    }

    .contact-us_message{
        line-height: 30px;
        p{
            font-size: map-get($font-sizes , 'm' );
            font-weight: bold;
            margin:  5px auto 5px auto;

            &:first-child{
                margin:  10px auto 40px auto;
            }
        }

        .message-item{
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            margin-bottom: 4px;
            font-weight: bold;
           
            span{font-size: map-get($font-sizes , 'm' );}
      .message-item_title_1 { flex: 1 1 ; padding-bottom: 8px;}
      .message-item_input_1 { flex: 3 2 ; }
      .message-item_title_2 { flex: 1 1 ; padding-bottom: 8px;}
      .message-item_input_2 { flex: 3 2 ; }
      .message-item_title_3 { flex: 2 1 ; padding-bottom: 8px;}
      .message-item_input_3 { flex: 3 2 ; }
      .message-item_title_4 { flex: 2 1 ; padding-bottom: 8px;}
      .message-item_input_4 { flex: 3 2 ; }
      .message-item_title_5 { flex: 3 1 ; padding-bottom: 8px;}
      .message-item_input_5 { flex: 3 2 ; }
        }

   

    }
}


.city-name{
    position: absolute;
    right: -433px;
    top: 445px;
    font-size: 121px;
    font-weight: bold;
    color: $white;
    opacity: 0.02;
    transform: rotate(-90deg);
    padding: 0;
    margin: 0;
}


.contact-us_icon-success{
  display: block;
  width: 110px;
  height: 110px;
  border: solid 10px #2a2a2a;
  border-radius: 50%;
  color: #2a2a2a;
  text-align: center;
  line-height: 107px;
  margin: 0 30px 30px 0;
  font-size: 50px;
}
.contact-us_success {
  color: $brand-red;
}



// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
 

    .contact-us{
        margin-top:0px;
    }
    .contact-us_title{
        margin: 40px auto 40px auto ;
    }

    .contact-us_message{
     
        .message-item{
            display: block !important;
           
       span{font-size: map-get($font-sizes , 'm' );}
      .message-item_title_1 { display: block;}
      .message-item_input_1 { display: block;}
      .message-item_title_2 { display: block;}
      .message-item_input_2 { display: block;}
      .message-item_title_3 { display: block;}
      .message-item_input_3 { display: block;}
      .message-item_title_4 { display: block;}
      .message-item_input_4 { display: block;}
      .message-item_title_5 { display: block;}
      .message-item_input_5 { display: block;}
        }

    }
    .city-name{
        display: none;
    }

  .contact-us_icon-success{
    margin-top: 80px;
    }
        
  }
 
 // Tablet
 @media (max-width: 1200px) and (min-width: 701px) {
 
    .city-name{
        display: none;
    }
  }
 
 // Desktop and X Desktop
 @media (min-width: 1201px) {
 
    .contact-us{
        max-width: 900px;

        .contact-us_title{
            margin: 20px auto 60px auto ;
        }
    
        .contact-us_message{
            margin:  100px auto 100px auto;
    
            .message-item{
                display: block;

                .message-item_title_1 { display: inline-block; margin-right: 10px;}
                .message-item_input_1 { display: inline-block; max-width: 500px;  }
                .message-item_title_2 { display: inline-block; margin-right: 10px; }
                .message-item_input_2 { display: inline-block; max-width: 500px; }
                .message-item_title_3 { display: inline-block; margin-right: 10px; }
                .message-item_input_3 { display: inline-block; max-width: 500px; }
                .message-item_title_4 { display: inline-block; margin-right: 10px; }
                .message-item_input_4 { display: inline-block; max-width: 500px; }
                .message-item_title_5 { display: inline-block; margin-right: 10px; }
                .message-item_input_5 { display: inline-block; max-width: 500px; }
            }
    
     .button{
         margin-top: 30px;
           max-width: 200px;
       }
    
        }
        .contact-us_icon-success{
        margin-top: 373px;
        }
    }

  }
 
 // X Desktop
 @media (max-width: 1920px) and (min-width: 1367px) {
   
 
  }


