#work-process{
    @include section-margin();
    padding: 5vh 0;
    background-color: $card;
    @include screen(desktop){
        padding: $section-padding;
        height: $section-height;
        max-height: 950px;
    }
}
.work-process_container{
    @include screen(desktop){
        display: flex;
        flex-flow: row nowrap;
    }
}
.work-process_text{
    @include screen(desktop){width: 47%;}
}
.work-process_text_title{
    @include font-size(xs);
    color: rgba($text-light, 0.5);
    margin-bottom: 6vh;
}
.work-process_text_content_item{
    h3{
        @include font-size(l);
        cursor: pointer;
    }
    div{
        @include font-size(xxs);
        line-height: 28px;
        color: rgba($text-light, 0.5);
        overflow: hidden;
        @include screen(desktop){
            width: 90%;
            height: 106px;
            margin-bottom: 2vh;
        }
      } 
}
.work-process_text_content_item_disable{
    h3{
        color: rgba($text-light, 0.2);
    }
    div{
        height: 0px;
        margin-bottom: 0;
    }
    transition: all 1s ease-in-out;
}

.work-process_image{
    display: none;
    @include screen(desktop){
        display: block;
        width: 47%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        img{border-radius:$border-radius;}
    }
}

.work-process_nav{
    display: none;
    @include screen(desktop){
        display: block;
        width: 6%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
    }
}

.work-process_nav_item{
    @include screen(desktop){
    width: 1.5vw;
    max-width: 25px;
    height: 1.42vw;
    max-height: 25px;
    border-radius: $border-radius-circal;
    border: solid 0.2vw rgba($text-light, 0.5);
    background-color: $card;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
   }       
}

.work-process_nav_item_active{
     @include screen(desktop){
         background-color: rgba($text-light, 0.5);
         border:none;
         transition: all 0.5s ease-in-out;
     }  
}