#work-process{
   margin: $section-margin;
   padding: $section-padding;
   height: $section-height;
   max-height: 950px;
   background-color: $card;
}

.work-process_container{
    display: flex;
    flex-flow: row nowrap;
}

.work-process_text{
    width: 47%;
}
.work-process_text_title{
    color: rgba($text-light, 0.5);
    margin-bottom: 6vh;
}
.work-process_text_content_item{
    h3{cursor: pointer;}
    div{
        line-height: 28px;
        color: rgba($text-light, 0.5);
        width: 90%;
        height: 106px;
        overflow: hidden;
    }
    padding-bottom: 5vh;
   
}
.work-process_text_content_item_disable{
    h3{
        color: rgba($text-light, 0.2);
    }
    div{
        height: 0px;
    }
    transition: all 1s ease-in-out;
}

.work-process_image{
    width: 47%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    img{
        width: 21rem;
    }
}
.work-process_nav{
    width: 6%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
}

.work-process_nav_item{
    width: 1.5vw;
    max-width: 25px;
    height: 1.42vw;
    max-height: 25px;
    border-radius: $border-radius-circal;
    border: solid 0.2vw rgba($text-light, 0.5);
    background-color: $card;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.work-process_nav_item_active{
    background-color: rgba($text-light, 0.5);
    border:none;
    transition: all 0.5s ease-in-out;
}

// Mobile
@media all and (max-width: 560px) and (min-width: 340px) {
  
 }
 
 // Tablet
 @media all and (max-width: 770px) and (min-width: 561px) {
  
 }
 
 // Desktop
 @media all and  (min-width: 771px) {

 }