.button{
    padding: 10px;
    margin: 30px 0 10px 0;
    text-align: center;
    // width: 100%;
    text-transform: capitalize;
    font-size: map-get($font-sizes, 'm');
    border-radius: $border-radius-lg;
    background: $brand-red;
            }
  input {
      background: none;
      cursor: pointer;
      border: none;
    outline:none;
  } 

 .button-creat{
     background: $green;
     margin:40px 0 20px 0;  
    }

 .button-login{
     background: $blue;
     margin: 20px 0 0 0;
    }
    

  