.section-card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $card;
    border-radius: $border-radius;
    padding: 25px;
    @include shadow-card();
    height: 55vh;
    max-height: 380px;
    height: 70vw;
    min-width: 200px;
    @include screen(tablet){ padding: 9vh;}
    @include screen(big-desktop){ padding: 6vh;}

    &:active{
        background-color: $card;   
    }
    &:last-child{
        &:after{
            content: '.';
            color: $card;
            width: 50px;
            margin-left: 150px;
        }
        @include screen(tablet){&:after{display: none; }}
    }

    .section-card_icon{
        margin-bottom: 10%;
        width: 50%;
        max-width: 120px;
    }
    .section-card_title{
           @include font-size(m);
           color: $brand-third;
           max-width: 86%;
       }
    .section-card_subtitle{
           @include font-size(xxs);
           color: rgba($brand-third, 0.5);
           margin-top: 15px;
       }

    }

