.section-card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background-color: $card;
    border-radius: $border-radius;
    padding: 6vh;
    @include shadow-card();
    height: 55vh;
    max-height: 400px;
    

    .section-card_icon{
        margin-bottom: 10%;
        width: 45%;
        max-width: 120px;
    }
    .section-card_title{
           font-size: map-get($font-sizes , 'm' );
           color: $brand-third;
           max-width: 86%;
       }
    .section-card_subtitle{
           font-size: map-get($font-sizes , 'xxs' );
           color: rgba($brand-third, 0.5);
           margin-top: 15px;
       }

    }




  // Mobile
@media all and (max-width: 560px) and (min-width: 340px) {
    .section-card{
        padding: 20px;
     } 
}

// Tablet
@media all and (max-width: 770px) and (min-width: 561px) {
    .section-card{
        padding: 20px;
     } 
}

// Desktop
@media all and  (min-width: 771px) {

}