.blog-card{


.blog-card_img{
max-width: 352px;
max-height: 219px;
overflow: hidden;
background: $card;
border-radius: $card-border-radius;
@include shadow-card();

img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
}

.blog-card_section-name{
    font-size: map-get($font-sizes , 'm');
    color: $card-subtitle;
    margin: 10px 0;
}

.blog-card_title  {
    font-size: map-get($font-sizes , 'l');
    color: $card-title;
    line-height: 32px;
}
}