.blog-card{
        flex-shrink: 0;

        .blog-card_img{
            @include screen(tablet){max-width: 352px;}
            max-height: 219px;
            overflow: hidden;
            background: $card;
            border-radius: $card-border-radius;
            @include shadow-card();

        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        }

        .blog-card_section-name{
            color: $card-subtitle;
            margin: 10px 0;
            @include font-size(xxs);
        }

        .blog-card_title  {
            color: $card-title;
            @include font-size(s);
            line-height: 28px;
            @include screen(tablet){line-height: 32px;}
        }
}