.blog-cards{
    display: flex;
    flex-flow: column nowrap;
    column-gap: 20px;
    row-gap: 20px;
    @include screen(tablet){
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        column-gap: $column-gap;
        row-gap: $row-gap;
      }
}
.blog-card{
        flex-shrink: 0;

        .blog-card_img{
            @include screen(tablet){max-width: 352px;}
            max-height: 219px;
            overflow: hidden;
            background: $card;
            border-radius: $card-border-radius;
            @include shadow-card();

        img{
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }
        }

        .blog-card_section-name{
            color: $card-subtitle;
            margin: 10px 0;
            @include font-size(xxs);
        }

        .blog-card_title  {
            color: $card-title;
            @include font-size(xs);
            line-height: 28px;
            @include screen(tablet){line-height: 32px;}
        }
}