$border-width: 0.1rem;

$border-width-thick: 0.2rem;

$border-radius-sm: 8px;
$border-radius: 10px;
$border-radius-lg: 20px;
$border-radius-xl: 30px;
$border-radius-circal: 100%;

// $border-color: $grey;

$rounded-pill: 50rem;



// UI border-radius

$card-border-radius:$border-radius;