
$column-gap: 32px;
$row-gap: 32px;

$mobile:250px;
$tablet:571px;
$desktop:770px;
$big-desktop:1200px;


@mixin screen($size) {
    @if $size == mobile {
     @media all  and (min-width: $mobile){@content;}
    } @else if $size == tablet {
     @media all and (min-width: $tablet){@content;}
    } @else if $size == desktop {
     @media all  and (min-width: $desktop){@content;}
    } @else if $size == big-desktop {
      @media all  and (min-width: $big-desktop){@content;}
    } 
  }

  .container{
    max-width: 84vw;
    margin: auto;
    @include screen(mobile){ max-width: 315px;};
    @include screen(tablet){ max-width: 750px;};
    @include screen(desktop){max-width: 1100px;};
    @include screen(big-desktop){max-width: 1155px;};
 }

  .container-mobile{margin: 0;}
