@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-arabic: 'Almarai';
$font-family-englische: 'Ubuntu';
$font-family-base:  $font-family-englische, $font-family-arabic, 'Helvetica Neue Light','Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$font-default-color: $text-light;
$body-color: $font-default-color;
$text-muted: $grey;

$emphasized-link-hover-darken-percentage: 15% !default;

//website font
*{ font-family: $font-family-base; }

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}

$min_width: 250px;
$max_width: 1120px;
$min_font: 8px;
$max_font: 16px;

// basw on 16px
html {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1,h2,h3,h4,h5,h6,p {
  line-height: 1.40;
}

@mixin font-size($size) {

  // Mobile
    @media all  and (min-width: 250px) {
      @if $size == xxxl {
        font-size: 4.5rem; // 72 px
      } @else if $size == xxl {
        font-size: 4rem; // 64 px
      } @else if $size == xl {
        font-size: 2.88rem; // 46.08 px
      } @else if $size == l {
        font-size: 2.25rem; // 36 px
      } @else if $size == m {
        font-size: 2rem; // 32 px
      }@else if $size == s {
        font-size: 18px; // 26.08 px
      } @else if $size == xs {
        font-size: 18px; // 21.12 px
      }@else if $size == xxs {
        font-size: 16px; // 18.08 px
      } @else if $size == xxxs {
        font-size: 14px; // 14.08 px
      }
     }

  // Tablet
    @media all and (min-width: 571px) {
      
    }
      
   // Desktop
    @media all  and (min-width: 770px) {
      @if $size == xxxl {
        font-size: 4.5rem; // 72 px
      } @else if $size == xxl {
        font-size: 4rem; // 64 px
      } @else if $size == xl {
        font-size: 2.88rem; // 46.08 px
      } @else if $size == l {
        font-size: 2.25rem; // 36 px
      } @else if $size == m {
        font-size: 2rem; // 32 px
      }@else if $size == s {
        font-size: 1.63rem; // 26.08 px
      } @else if $size == xs {
        font-size: 1.32rem; // 21.12 px
      }@else if $size == xxs {
        font-size: 1.13rem; // 18.08 px
      } @else if $size == xxxs {
        font-size: 0.88rem; // 14.08 px
      }
     }

}


$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;