
@mixin  section-margin() {
    @include screen(mobile){margin: 9vh 0;}
    @include screen(tablet){margin: 15vh 0;}
}
$section-margin: 15vh 0;
$section-padding: 20vh 0 20vh 0;
$section-height: 100vh;



$portfolio-item-padding: 5vh 0 0 0;


$page-not-found:10vh 0;