.footer{
    
    @include section-margin();

    .footer_contact-us-card{
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         align-items: center;
         background-color: $card;
         border-radius: 0;
         margin-bottom: 40px;
         padding: 4.3% 1%;
         @include shadow-card();
         
         @include screen(tablet){
             border-radius: $border-radius;
             padding: 0 5%;
        };

         .footer_contact-us-card_imag{
             display: flex;
             justify-content: center;
             margin: 0 0 -15px 0;
             @include screen(tablet){
                 width: 40%;
                 margin: -20px 0 0 0;
                };
             
             img{
                @include screen(tablet){ width: auto;};
                 width: 90%;
             }
         }

        .footer_contact-us-card_text{
            width: 63%;
            .footer_contact-us-card_text-title{
                @include font-size(l);
                color: $brand-third;
                @include screen(tablet){width: 75%;};
            }
            .footer_contact-us-card_text-subtitle{
                @include font-size(s);
                color: rgba($brand-third, 0.5);
                margin-top: 15px;
                span{
                    @include font-size(s);
                    color: $brand-prime;
                    font-weight: bold; 
                }
            }
         }
    }

    .footer_info{
        text-align: center;
        color: rgba($brand-third, 0.5);
        line-height: 25px;
        padding-bottom: 50px;
        @include font-size(m);

        div{
            @include font-size(xxxs);
        }
        a, a:active, a:focus, a:visited{
            color: rgba($text-light, 0.5);
        }

    }
}
