.input{
    position: relative;
    width: 100%;
    margin: auto auto 25px auto;

    input{
        height: 40px;
         width: 100%;
        border: 0;
        border-bottom: 1px solid  $brand-grey;
        outline: 0;
        color: $brand-grey;
        font-size:  map-get($font-sizes, 'm');
        background: transparent;
        padding: 0 10px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus {
        height: 40px;
        width: 100%;
       border: 0;
       border-bottom: 1px solid  $brand-grey;
       outline: 0;
       background: transparent;
       padding: 0 10px;
        -webkit-text-fill-color: $white;
        -webkit-box-shadow: 0 0 0px 1000px $brand-black inset;
        transition: background-color 5000s ease-in-out 0s;
                                     }

            }
    
                    