.article_title{
    margin: 20px  0;
    
    h1{
        @include font-size(xxxl);
        
        text-transform: uppercase;
        &::after{
            content: '.';
            color: $brand-prime;
        }
    }
    h2{
        @include font-size(xl);
        
        color: rgba($brand-third, 0.5);
        margin: 3px 0 40px 0;
    }

}


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
   
}

// Tablet
@media all and (max-width: 1200px) and (min-width: 701px) {

}

// Desktop
@media all and (max-width: 1366px) and (min-width: 1201px) {

}

// X Desktop
@media all and  (min-width: 1367px) {

}