.portfolio_title{ 
   margin:20px auto 10px auto;
   @include font-size(xxxl);
   text-transform:capitalize;
   &::after{
       content: '.';
       color: $brand-prime;
   }
}
.portfolio_subtitle{
   @include font-size(xxs);
   color: rgba($brand-third, 0.5);
   margin: -3px 0 40px 0;
   @include screen(tablet){ margin: -3px 0 3vw 0;};
}

.portfolio{
   display: grid;
   grid-template-columns: 1fr;
   @include screen(tablet){grid-template-columns: 1fr 1fr};
   column-gap: 32px;
   row-gap: 32px;
   margin: auto;   
}