
.logo{
   display: block;
   max-width: 293px;
   img{
       width: 100%;
       object-fit: cover;
   }

   h5{
    margin-top: 3px;
    color: rgba($brand-third, 0.5);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 3.81px;
   }
}