.portfolio-item{
    position: relative;
    margin: 20px auto auto auto;
    padding-top: 35px;
  

   .portfolio-item_number{
      position: absolute;
      top: -10px;
      right: -16px;
      z-index: 1;
      font-size: map-get($font-sizes, 'xxxl' );
      font-weight: bold;
      opacity: 0.3;
   }

   .portfolio-item_card{
      position: relative;
      z-index: 2;
      width: 100%;
      min-height: 246px;
      border-radius: $border-radius-xl;
      background-color: $white;
      overflow: hidden;

      .portfolio-item-img{
         display: block;
         width: 100%;
         height: 100%;
         background-color: $brand-red;
         img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
         }
      }
 
   }

   .free-place{
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      min-height: 246px;
      border-radius: $border-radius-xl;
      padding: 10px;
      background-color: $white;
    div{
       width: 90%;
       height: 89%;
       margin: 4% auto;
       border:7px dashed #fa163f2b;
       border-radius: $border-radius-xl;

      h2{
         position: absolute;
         left: 15%;
         bottom: 15%;
         color: $brand-red; 
      }
    }

   }
}



// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
 
   .portfolio-item{
      .portfolio-item_card{
         min-height: 229px;
         }

         .free-place{
            padding: 8px;
              div{
               min-height: 201px;
               border:5px dashed #fa163f2b;
               h2{
                  font-size: map-get($font-sizes , 'l' );
                  bottom: 16%;
               }
              }
         }
     }
  }
       
 

// Tablet 
@media all and (max-width: 1024px) and (min-width: 701px) {
   .portfolio-item{
       width: 98%;
       margin-bottom: 20px;

       .portfolio-item_card{
         min-height: 236px;

         } 

         .free-place{
            div{
             min-height: 423px;
            }
       }
      }
   }



// Desktop
@media all  and (min-width: 1201px) {
   .portfolio-item{
      width: 98%;
        .free-place{
           div{
            min-height: 345px;
           }
      }
     }
 }

// X Desktop
@media all and (max-width: 1920px) and (min-width: 1367px) {

  

 }



