
.tecnologie-name {
	display: flex;
	align-items: center;
   justify-content: center;
   opacity: 0.05;
   margin-top: 50px;
   font-size: 38px;
	font-weight: bold;
	text-align: center;
}


// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
   .tecnologie-name{
	font-size: calc(10px + 2vw);
      margin: 50px auto 0 auto;
   }
}



