.login{
  h3{
       font-size: map-get($font-sizes, 'xs' );
  } 
}
.back-arrow{
    margin: 30px 0 ;
    font-size: map-get($font-sizes, 'xxs' );
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    color: $brand-secondary-1;
    cursor: pointer;
    i{
        margin-right: 15px;
        font-size: map-get($font-sizes, 'xxs' );
    }
}