.textarea{
           margin: auto auto 25px auto;
           resize: none;
           height: 40px;
           width: 100%;
           border: 0;
           border-bottom: 1px solid  $brand-secondary-1;
           outline: 0;
           color: $brand-secondary-1;
           @include font-size(xs);
           background: transparent;             
         }
                

         textarea:hover,
         textarea:focus,
         textarea:-webkit-autofill {
             height: auto;
             width: 100%;
            border: 0;
            border-bottom: 1px solid  $brand-secondary-1;
            outline: 0;
            background: transparent;
             -webkit-text-fill-color: $white;
             -webkit-box-shadow: 0 0 0px 1000px $black inset;
             transition: background-color 5000s ease-in-out 0s;
                                          }
    
    