.Banner-promotional{
    min-width: 300px;
    padding: 8vw;
    background-color: none;
    text-align: center; 
    border-radius: $border-radius;
    @include screen(tablet){
    background-color: $card;
    padding: 3vw;
    };
  
    h2{
      display: none;
      @include screen(tablet){
      display: block;
      @include font-size(s);
      text-transform: uppercase;
      color: $card-title;
      margin:  15px auto 15px auto;
      };
    }
    p{
      display: none;
      @include screen(tablet){
      display: block;
      @include font-size(xxs);
      color: $card-subtext;
      line-height: 25px;
      margin-bottom: 40px;
      };
    }

  .secondary-button{
    width: 100%;
    margin: 0;
    @include screen(tablet){padding: 15px 20px;};
  }

  .sub-link{
    display: block;
    margin: 10px auto 0 auto ;
    @include font-size(xxxs);
    color: $card-subtext;
    @include screen(tablet){ margin: 10px auto 10px auto;};
  }
} 
 
  
  
  
 
  
 
          
