.portfolio-item{
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
  background: $card;
  border-radius: $border-radius;
  overflow: hidden;

  &:focus, :active{
   background: $card;
  }

  .portfolio-item_titel{
   font-size: map-get($font-sizes , 'xl');
   font-weight: bold;
   color: $text-light;
   padding: 5vh 5vh 5vh 5vh;

   a, a:visited, a:focus{color: $text-light;}
  }
  .portfolio-item_titel-link{
     span:hover{
        color: rgba($text-light, 0.5);
        cursor: pointer;
      }
  }
  .portfolio-item_subtitle{
   font-size: map-get($font-sizes , 'xxs');
   font-weight: normal;
   color: rgba($text-light, 0.5);
   padding-top: 1vh;
  }
  .portfolio-item_image{

  }
}

// Mobile
@media all and (max-width: 700px) and (min-width: 340px) {
   .portfolio-item{
   
   }
  }

// Tablet 
@media all and (max-width: 1024px) and (min-width: 701px) {
   .portfolio-item{
   
   }
   }

// Desktop
@media all  and (min-width: 1201px) {
   .portfolio-item{
   
   }
  }

// X Desktop
@media all and (max-width: 1920px) and (min-width: 1367px) {
   .portfolio-item{
   
   }
 }



