 .card{
         height: 130px;
         @include screen(desktop){height: 162px;}
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-between;
         align-items: center;
         background-color: $card;
         border-radius: $card-border-radius;
         padding: 0 5%;
         @include shadow-card();

         &:active{background-color: $card;}

         .card_imag{
            width: 47%;
            height: 138px;
            @include screen(desktop){width: 45%; height: 180px;}
            display: flex;
            justify-content: center;
            margin-top: -8px;
            @include screen(desktop){margin-top: -17px;}
         }

        .card_text{
            width: 47%;
            @include screen(desktop){width: 52%;}
            .card_text-title{
                @include font-size(m);
                color: $card-title;
            }
            .card_text-subtitle{
                margin-top: 5px;
                @include font-size(xxs);
                color: $card-subtitle;
                margin-top: 15px;
            }
         }
    }
