.breadcrumb{
    display:block;
    color: $breadcrumb;
    font-size: map-get($font-sizes , 'xxxs' );
    direction: $direction;
    .breadcrumb_first{
        color: $breadcrumb-first;
    }
    .breadcrumb_second{
      color: $breadcrumb-second;
      margin: auto 5px;
    }
  }
  