$navbar-height: 5rem;
$navbar-mobile-height: 5rem;

#nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
  
    .nav_items{
        display: flex;
        flex-flow: row-reverse nowrap;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        list-style: none;
        li{
            width: 42px;
            height: 42px;
            line-height: 55px;
            @include screen(tablet){line-height: 52px;}
            text-align: center;
            margin-right: 10px;
            border: solid 2px $brand-third;
            border-radius: $border-radius-circal;

            &:hover{
                border: solid 2px rgba($brand-third, 0.5);  
            }
        }
        .nav_items-lang{
            line-height: 33px;
            i{
                font-size: 12px;
                font-style: normal;
            }
        }
    }
}




